body{
	background-color: #F0F0F0;
}
p{
	font-family: verdana,serif;
	text-align: justify;
}
pre{
	color:green;
}
.container{
	
}
.container h1{
	text-align: center;
	text-transform: uppercase;
}
.container h3{
	padding-left: 10px;
	text-align: left;
	text-transform: uppercase;
}

.dummy-area div{
	padding-left: 10px;
	color:green;
}
